/*
Colors used:
Background Color (Lightgray): #f2f1ee;
Primary Color (Red): #d9a39a;
Secondary Color (Gray): #c6c6c4;
Body Color (Black): #343434;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f2f1ee;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #343434;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 500;
  color: #d9a39a;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

h5 {
  font-size: 1.2em;
}

#span1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #343434;
  display: block;
  text-transform: uppercase;
}

a {
  color: #d9a39a;
  /* Underlining links */
}

a:visited {
  /* selected link */
  color: #636363;
}

a:hover,
a:focus {
  color: #c6c6c4;
  text-decoration: none;
  /* Removing underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #636363;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d9a39a;
  color: #f2f1ee !important;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d9a39a;
  /* width of the border, type, color */
  transition: 0.2s;
  transition-property: opacity;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  opacity: 0.6;
  /* Reduces the opacity of the button to 60% */
  color: #f2f1ee;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #636363 !important;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #d9a39a;
}

.button.contact:hover {
  background-color: #d9a39a;
  color: #f2f1ee;
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

header {
  background-color: #f2f1ee;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 80px;
  text-align: left;
}

.logo {
  max-width: 50px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 5px 15px;
  font-weight: 300;
  color: #d9a39a;
  text-decoration: none;
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  padding-right: 0;
  font-size: 20px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 10px 0 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
footer {
  text-align: center;
  background-color: #ebebeb;
  padding: 30px
}

.hero {
  padding: 20px 10px;
  display: inline-block;
  width: 100%;
}

.work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #c6c6c4;
  margin-bottom: 25px;
}

.work .row:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.skills_tools .row:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.project {
  padding: 20px 10px;
}

#span3 {
  font-size: 24px;
  display: block;
}

.learning ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.social {
  width: auto;
  max-height: 40px;
  margin: 20px 10px;
}

.skills_tools ul {
  list-style-type: none;
  padding: 0;
}

.skills_tools>ul>li {
  display: inline-block;
  width: 100%;
}

.skills_tools>ul>li>a {
  padding: 0 15px;
  font-weight: 300;
  color: #d9a39a;
  text-decoration: none;
}

.skills_tools .row {
  padding-bottom: 15px;
  border-bottom: 3px solid #c6c6c4;
}

.me {
  max-width: 60%;
}

.pic_project {
  max-width: 100%;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #c6c6c4;
  display: block;
}

/* ==============================
Animation Sun
================================= */
.sun {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

/* ==============================
Animation Clouds
================================= */
.cloud-front {
  animation-duration: 20s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

/* ==============================
Sea
================================= */
.fishr {
  animation-duration: 5s;
  animation-name: sea-move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200, 50px);
  }
}

.fish2r {
  animation-duration: 10s;
  animation-name: sea-move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.fish3r {
  animation-duration: 15s;
  animation-name: sea-move;
  animation-iteration-count: 4;
  animation-direction: reverse;
  animation-timing-function: ease;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.fish {
  animation-duration: 5s;
  animation-name: sea-move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(400px, 50px);
  }
}

.fish2 {
  animation-duration: 10s;
  animation-name: sea-move;
  animation-timing-function: ease;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.fish3 {
  animation-duration: 15s;
  animation-name: sea-move;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes sea-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/* ==============================
Logo for all devices with width larger than 641px and larger
================================= */

@media only screen and (min-width: 640px) {
  .logo {
    max-width: 40px;
  }
  nav > ul {
    margin: 5px 0;
  }
  nav>ul>li {
    display: inline-block;
  }
  .navtoggle.responsive li  {
    padding: none;
    border-top: none;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.navtoggle li .icon {
  display: none;
}

  /* ==============================
  Navigation animation
  ================================= */
  .nav1 a:before, .nav1 a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #343434;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  .nav1 a:before {
    top: 0;
    transform: translateY(10px);
  }

  .nav1 a:after {
    bottom: 0;
    transform: translateY(-10px);
  }

  .nav1 a:hover:before, .nav1 a:hover:after {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    float: right;
  }

  .margin h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.25em;
  }
  h3 {
      margin-top: 0;
  }

  #span2 {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 18px;
  }
}
